body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}

.calculator {
    background-color: #B2B2B2;
    border: 2px solid darkgrey;
    border-radius: 5px;
    width: 200px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.display {
    font-size: 24px;
    text-align: right;
    padding: 10px;
    margin-bottom: 25px;
    border: 3px solid white;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button {
    font-size: 20px;
    padding: 10px;
    background-color: darkslategrey;
    color: ghostwhite;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: lightgrey;
}
button:nth-child(13) {
    background-color: red;
}

button:nth-child(4),
button:nth-child(8),
button:nth-child(12),
button:nth-child(15),
button:nth-child(16){
    background-color: black;}